.hse {
  background-image: url("../img/hse_oct.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

.about_hse a {
  color: black;
}

.hse_pic {
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
  align-content: flex-end;
}

.hse_pic a {
  width: 160px;
}

.hse_pic img {
  display: block;
  margin: 0 auto;
}

.hse_res {
  margin-top: 420px;
  padding-bottom: 140px;
}

.hse_pic h4 {
  padding-top: 24px;
  text-align: center;
}
