body {
  font-family: "Raleway";
  background: url("img/шд.jpg") no-repeat;
}

header > span {
  font-weight: 800;
  color: white;
}

header span + span {
  color: black;
  position: absolute;
  top: 120px;
  right: 400px;
}

header span + span::after {
  content: url("../img/rectangle.svg");
  position: absolute;
  bottom: -45px;
  left: 14px;
}

header,
section {
  width: 750px;
  margin: 0 auto;
}

h1 {
  font-family: "Raleway";
  font-weight: 900;
  font-size: 84px;
  margin-top: 110px;
}

/* ------------------------------- */

h2 {
  font-weight: 900;
  font-size: 48px;
}

h3 {
  font-weight: 800;
  font-size: 26px;
}

h4 {
  font-weight: 800;
  font-size: 18px;
  text-transform: uppercase;
}

h2 + h3 {
  margin-top: 30px;
}

h3 + p {
  margin-top: 22px;
}

p + h3 {
  margin-top: 68px;
}

header {
  padding-top: 60px;
}

header img {
  position: absolute;
  z-index: -1;
  width: 100%;
  top: 0;
  left: 0;
}

/* --------------------ССЫЛКИ----------------------- */

section a {
  text-decoration: none;
  color: rgb(103, 0, 25);
  font-weight: 500;
}

a:hover {
  text-decoration: underline;
}

.lessons a {
  color: rgba(241, 0, 58);
}

nav a {
	position: relative;
	color: #00a650; /*задаём цвет ссылки*/
	cursor: pointer;
	line-height: 1; /*задаём высоту строки*/
	text-decoration: none; /*убираем подчёркивание*/

}
nav a:after {
	display: block;
	position: absolute;
	left: 0; /*изменить на right:0;, чтобы изменить направление подчёркивания */
	width: 0;/*задаём длинну линии до наведения курсора*/
	height: 2px; /*задаём ширину линии*/
	background-color: #00a650; /*задаём цвет линии*/
	content: "";
	transition: width 0.3s ease-out; /*задаём время анимации*/
}

nav a:hover:after,
nav a:focus:after {
	width: 100%; /*устанавливаем значение 100% чтобы ссылка подчёркивалась полностью*/
}

/* -------------------МЕНЮ-------------------------- */
nav ol {
  display: flex;
  font-size: 16px;
  font-weight: 600;
  justify-content: space-between;
  margin-top: 160px;
  color: white;
  letter-spacing: 0.04em;
}

p {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.5em;
  width: 550px;
}

section div:first-child:not(.lesson) {
  margin-left: 300px;
}

/* -----------------ВИДЫ ЗАНЯТИЙ------------------ */

.lessons {
  margin-top: 390px;
}

.type_of_lessons {
  margin-top: 100px;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
}

.lesson {
  display: flex;
  flex-basis: 220px;
  height: 280px;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  flex-direction: column;
}

.lesson span {
  text-align: center;
  font-weight: 500;
  line-height: 1.5;
}

.lesson h4 {
  padding: 24px 0 18px;
}

.lessons h3 {
  display: inline;
}

.lessons h2 {
  padding-bottom: 30px;
}

.lessons a {
  margin-left: 240px;
  position: relative;
  display: inline;
}

.lessons h3 + div {
  display: flex;
  justify-content: flex-end;
}

.lessons a::after {
  content: url("../img/arrow.svg");
  position: absolute;
  top: 4px;
  right: -28px;
}

/* ------------------ЛАЙФХАКИ--------------------- */
.lifehacks {
  margin-top: 70px;
}

.lifehacks .place h3::before {
  content: url("../img/read.svg");
  position: absolute;
  left: -40px;
  top: -7px;
}

.lifehacks . h3::before {
  content: url("../img/star.svg");
  position: absolute;
  left: -40px;
  top: -7px;
}

/* --------------------РЕСУРСЫ--------------------- */

h3 {
  position: relative;
}

.resources .read h3::before {
  content: url("../img/read.svg");
  position: absolute;
  left: -40px;
  top: -7px;
}

.resources .insp h3::before {
  content: url("../img/star.svg");
  position: absolute;
  left: -40px;
  top: -7px;
}

/*--------------------ABOUT HSE--------------------*/

.hse_pic {
  margin-top: 100px;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
}

.hse_pic a {
  flex-basis: 110px;
  color: black;
}
