body {
  font-family: "Raleway", "Montserrat", sans-serif;
}

* {
  -webkit-font-smoothing: antialised;
  -moz-osx-font-smoothing: grayscale;
}

.wrapper {
  background-image: url("../img/cover.png");
  background-repeat: no-repeat;
  background-size: 100%;
}

h1 {
  font-weight: 900;
  font-size: 88px;
  line-height: 0.8em;
}

.header_text {
  margin-top: 150px;
  position: relative;
}

header > span {
  font-weight: 800;
  color: white;
}

header div span {
  color: black;
  position: absolute;
  top: -40px;
  right: 110px;
  font-weight: 800;
  text-align: center;
}

header div span::after {
  content: url("../img/rectangle.svg");
  position: absolute;
  bottom: -50px;
  left: 14px;
}

header,
section {
  width: 700px;
  margin: 0 auto;
}

header {
  padding-top: 100px;
}

h2 {
  font-weight: 900;
  font-size: 50px;
}

h3 {
  font-weight: 800;
  font-size: 28px;
  position: relative;
}

h4 {
  font-weight: 800;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 0.04em;
}

h2 + h3,
h2 + p {
  margin-top: 30px;
}

h3 + p {
  margin-top: 22px;
}

p + h3 {
  margin-top: 68px;
}

.food,
.cof,
.fonts,
.hse_text {
  width: 390px;
}

p {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.5em;
}

.wh {
  width: 600px;
}

.wh h3 {
  margin-left: 36px;
}

.insp,
.disc {
  margin-top: 50px;
  margin-bottom: 70px;
}

.resources,
.about_hse {
  padding-top: 200px;
}

.food,
.fonts,
.hse_text {
  margin-left: auto;
}

/* --------------------ССЫЛКИ----------------------- */

a {
  text-decoration: none;
}

section a {
  color: rgb(199, 0, 4);
  font-weight: 500;
  color: rgba(241, 0, 58);
}

a:hover {
  cursor: pointer;
}

section a:hover {
  color: rgb(199, 0, 4);
}

.food a,
.fonts a,
.hse_text a {
  color: rgb(103, 0, 25);
}

.food a:hover,
.fonts a:hover,
.hse a:hover {
  color: white;
}

/* ---------------------МЕНЮ---------------------- */
nav ol {
  display: flex;
  font-size: 16px;
  font-weight: 600;
  justify-content: space-between;
  margin-top: 140px;
  letter-spacing: 0.04em;
}

nav a {
 color: white;
 position: relative;
}

nav a:after {
 display: block;
 position: absolute;
 left: 0;
 width: 0;
 height: 3px;
 background-color: white;
 content: "";
 transition: width 0.3s ease-out;
}

nav a:hover:after,
nav a:focus:after {
width: 100%;
}

/* --------------------ЛАЙФХАКИ-------------------- */
.lifehacks {
  margin-top: 270px;
}

.lifehacks .work h3::before {
  content: url("../img/place.svg");
  position: absolute;
  left: -40px;
  top: -4px;
}

.lifehacks .disc h3::before {
  content: url("../img/star.svg");
  position: absolute;
  left: -40px;
  top: -6px;
}

.cof {
  margin-top: 600px;
}

.work {
  margin-top: 500px;
}

/* --------------------РЕСУРСЫ--------------------- */
.res {
  background-image: url("../img/res.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

.resources .read h3::before {
  content: url("../img/read.svg");
  position: absolute;
  left: -40px;
  top: -4px;
}

.resources .insp h3::before {
  content: url("../img/heart.svg");
  position: absolute;
  left: -36px;
  top: -4px;
}

.prog {
  padding-top: 530px;
  width: 600px;
  position: relative;
}

.prog img {
  position: absolute;
  bottom: 290px;
  left: -300px;
}

.read {
  margin-top: 320px;
}
